submission/

baseline_files.zip
baseline_files/baseline_ensemble/train_log/*.pkl
logs/

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.zip

.vscode/
.venv/
venv/
env/
baseline_files/baseline_ensemble/thirdparty/ECCV2022-RIFE/*

hyper_tune/

.ipynb_checkpoints/
.DS_Store
Thumbs.db