submission/

baseline_files.zip
baseline_files/baseline_ensemble/ECCV2022-RIFE/
baseline_files/baseline_ensemble/train_log/*.pkl

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.zip

.venv/
venv/
env/

hyper_tune/

.ipynb_checkpoints/
.DS_Store
Thumbs.db